--swiftversion 5.10
--indent 4
--maxwidth 120
--self remove
--commas inline
--ifdef no-indent
--disable wrapMultilineStatementBraces
--exclude Execa/Execa.xcodeproj,Execa/ExecaUITests,.build,**/.build
